<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<title>Area upload</title>
	<th:block th:replace="~{fragments :: head}">
		</th>
</head>

<body>
	<header class="container-fluid mb3">
		<div class="row col-6 m-auto">
			<a th:href="@{/photos}" class="btn btn-secondary my-3">torna alla home</a>
		</div>
		<div class="row text-center">
			<h1 class="">Genera una foto</h1>
			<h4 th:text="${error}" class="text-danger"></h4>
		</div>
	</header>
	<main class="container">

		<div class="row text-center">
			<form class="col-12" id="photoForm" th:object="${photo}" th:action="@{photos/create}" method="post">
				<!--					<ul>-->
				<!--						<li th:each="err : ${#fields.allErrors()}" th:text="${err}">-->
				<!--						</li>-->
				<!--					</ul>-->
				<label for="title" class="form-label">Inserisci il titolo:</label>
				<input type="text" class="form-control" id="title" th:field="*{title}" th:errorClass="is-invalid">

				<div th:if="${#fields.hasErrors('title')}" class="invalid-feedback">
					<p th:each="err : ${#fields.errors('title')}" th:text="${err}"></p>
				</div>

				<label for="description" class="form-label">Inserisci una descrizione:</label>
				<input type="text" class="form-control" id="description" th:field="*{description}"
					th:errorClass="is-invalid">

				<div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
					<p th:each="err : ${#fields.errors('description')}" th:text="${err}"></p>
				</div>

				<input type="text" class="d-none" id="url" value="https://picsum.photos/400" th:field="*{url}" />

				<label for="tag" class="form-label">Inserisci un tag:</label>
				<input type="text" class="form-control" id="tag" th:field="*{tag}" th:errorClass="is-invalid">

				<div th:if="${#fields.hasErrors('tag')}" class="invalid-feedback">
					<p th:each="err : ${#fields.errors('tag')}" th:text="${err}"></p>
				</div>

				<label for="visible" class="form-label">Visibile</label>
				<input type="checkbox" class="form-checkbox" id="visible" value="false" th:field="*{visible}" />

				<div th:if="${#fields.hasErrors('visible')}" class="invalid-feedback">
					<p th:each="err : ${#fields.errors('visible')}" th:text="${err}"></p>
				</div>

				<section class="row text-center">
					<div class="col-4">
						<h3>Categorie: </h3>
						<div th:each="category : ${elencoCategorie}" class="form-check">
							<input type="checkbox" class="form-check-input" th:value="${category.id}"
								th:field="*{categories}" th:id="|category_${category.id}">
							<label class="form-check-label" th:text="${category.name}"
								th:for="|category_${category.id}"></label>
						</div>
					</div>
				</section>

				<div class="mt-3">
					<button type="submit" class="btn btn-primary">Salva</button>
					<a class="btn btn-primary" th:href="@{/photos}">Annulla</a>
				</div>
			</form>
		</div>
	</main>
	<div th:replace="~{fragments :: script}"></div>
</body>

</html>